<a href="https://colab.research.google.com/github/andrenp2/FinancialStudyPython/blob/master/Invest08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 08 - Classificando Empresas da Bolsa segundo a Magic Fomrula (Analise Fundamentalista)

*** veremos nessa aula como classificar as empresas por uma analise mais fundamentalista como de Benjamin Grahan por exemplo, utilizando o site Fundamentus.com.br ***

*** 8.1 - Importando Bibliotecas ***

In [3]:
import numpy as np
import pandas as pd
import string
import warnings

warnings.filterwarnings('ignore')

*** 8.2 - Importando Dados ***

In [4]:
# criando variavel para puxar os dados do site fundamentus 

url = 'http://www.fundamentus.com.br/resultado.php'

In [7]:
# criando um data frae (df)

df = pd.read_html(url)
df

# ele pega todos os data frame do site, como queremos so a tabela dos reulstados

df = pd.read_html(url)[0]
df

     Papel  Cotação      P/L  ...       Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0    VNET3      0.0  0.00000  ...   9.257.250.00000                0.0        -2,71%
1    CFLU4      1.0  0.00000  ...      60.351.00000                6.0         8,14%
2    CLAN3      0.0  0.00000  ...   1.012.240.00000                0.0       -63,96%
3    CLSC6      0.0  0.00000  ...   1.551.160.00000                0.0         6,66%
4    CSTB3  15000.0  0.00000  ...   8.420.670.00000               14.0        31,91%
..     ...      ...      ...  ...               ...                ...           ...
882  CEPE6   2000.0  1.54585  ...   1.667.000.00000              336.0         8,63%
883  CEPE3   2453.0  1.89599  ...   1.667.000.00000              336.0         8,63%
884  BRAP3   3249.0  2.00490  ...  10.522.400.00000                0.0         0,00%
885  CEPE5   2700.0  2.08690  ...   1.667.000.00000              336.0         8,63%
886  BRAP4   3634.0  2.24247  ...  10.522.400.00000                0.0         0,00%

[887 rows x 21 columns]

*** 8.3 - Tratando os dados ***

vamos tratar os dados, por exemplo, no site utilizam virgulas para separar, e no python pontos. 
Colocaremos entao decimal "," e milhar "."

In [8]:
df = pd.read_html(url, decimal=',',thousands='.')[0]
df

     Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0    VNET3     0.00     0.00  ...  9.257250e+09               0.00        -2,71%
1    CFLU4  1000.00     0.00  ...  6.035100e+07               0.06         8,14%
2    CLAN3     0.00     0.00  ...  1.012240e+09               0.00       -63,96%
3    CLSC6     0.00     0.00  ...  1.551160e+09               0.00         6,66%
4    CSTB3   150.00     0.00  ...  8.420670e+09               0.14        31,91%
..     ...      ...      ...  ...           ...                ...           ...
882  CEPE6    20.00  1545.85  ...  1.667000e+09               3.36         8,63%
883  CEPE3    24.53  1895.99  ...  1.667000e+09               3.36         8,63%
884  BRAP3    32.49  2004.90  ...  1.052240e+10               0.00         0,00%
885  CEPE5    27.00  2086.90  ...  1.667000e+09               3.36         8,63%
886  BRAP4    36.34  2242.47  ...  1.052240e+10               0.00         0,00%

[887 rows x 21 columns]

outra coisa que precisamos fazer é que os sinais de porcentagem ali estao em strings, e precisaremos passar paran numeros

In [18]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].astype(str).str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100


df.shape
df

     Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
13   OMGE3    35.34 -9824.35  ...  2.762890e+09               1.62   7.027000e+01
17   SQIA3    18.72  -730.46  ...  4.232550e+08               0.19   2.446000e+01
22   TUPY3    19.39  -309.69  ...  2.403220e+09               0.99   1.213000e+01
24   COGN3     6.55  -291.85  ...  1.829470e+10               0.66   7.530000e+00
27   BKBR3    10.33  -232.15  ...  1.735260e+09               0.40   2.328000e+01
..     ...      ...      ...  ...           ...                ...            ...
874  STBP3     5.55   331.67  ...  1.339860e+09               0.33   3.240000e+14
875  LINX3    24.00   359.58  ...  1.745060e+09               0.18   1.578000e+01
877  LWSA3    42.63   371.23  ...  6.344790e+08               0.31   0.000000e+00
878  VALE3    55.63   400.02  ...  1.788540e+11               0.55   1.438000e+01
886  BRAP4    36.34  2242.47  ...  1.052240e+10               0.00   0.000000e+00

[205 rows x 21 columns]

*** 8.4 - Analisando os Dados ***

vamos fazer um filtro para pegar empresas com liquidez

por exemplo quero que a liquidez seja maior que 1mi, por dia durante 2 meses. Entao vamos tirar as empresas pequenas, com poucas liquidez.

In [17]:
df = df[df['Liq.2meses'] > 1000000 ]
df.shape

(205, 21)

Listar as empresas que tem o menor relacao EV/EBIT e maior ROIC que eh utilziado por joel na formula magica. 

*** O EV/EBIT entao, significa: VALOR DA EMPRESA PRECIFICADA PELO MERCADO ***

EV = ( Preco x Num de acoes emitidos ) + dividas liquidas 
EBIT = ( Lucro antes de juros e impostos descontados) 

*** Quanto MENOR o EV/EBIT, MELHOR!!! ***

ja o ROIC:

*** ROIC : ***

In [21]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values



ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  GGBR4
1      2   SMLS3  GGBR3
2      3   ENAT3  TOTS3
3      4   WIZS3  SMLS3
4      5  SULA11  BRKM5
..   ...     ...    ...
145  146   SUZB3  SGPS3
146  147   PTBL3  STBP3
147  148   RADL3  RCSL4
148  149   PNVL3  BKBR3
149  150   GNDI3  CNTO3

[150 rows x 3 columns]

*** Entao, segundo a FORMULA MAGICA, temos que somar os rankins de EV/EBIT e ROIC e analisar ***

In [22]:
a = ranking.pivot_table(columns='EV/EBIT',values='pos')

b = ranking.pivot_table(columns='ROIC',values='pos')

In [23]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  HAPV3  LWSA3  RCSL4  STBP3  WEGE3
pos  112.0   89.0   69.0  143.0   76.0  ...    NaN    NaN    NaN    NaN    NaN
pos  138.0   31.0   15.0   58.0  130.0  ...   43.0  111.0  148.0  147.0    9.0

[2 rows x 158 columns]

In [24]:
rank = t.dropna(axis=1).sum()
rank

AALR3     250.0
ABEV3     120.0
AGRO3      84.0
ALPA4     201.0
ALSO3     206.0
          ...
VULC3      85.0
VVAR3     259.0
WIZS3      52.0
WSON33     83.0
YDUQ3     138.0
Length: 140, dtype: float64

In [25]:
# para ordenar entao

rank.sort_values()[:15]

SMLS3      6.0
ALUP11    20.0
EQTL3     25.0
MRFG3     29.0
LEVE3     30.0
CVCB3     39.0
PSSA3     50.0
WIZS3     52.0
VLID3     52.0
ENBR3     57.0
CSMG3     59.0
TRPL4     60.0
CPLE3     61.0
SAPR4     62.0
VALE3     63.0
dtype: float64

*** Obs: podemos remover empresas do setor financeiro, como bancos pois nao faz muito sentido analisar roic etc... ***


*** Obs2: Entao o rank mostra as empresas que estao "BARATAS" porem tem potencial de trazer um grande retorno. ***

*** Tudo isso foi desenvolvido a partir da Formula Magica, nao sendo uma recomendacao de carteira, e sim uma ferramenta auxiliar para a analise ***